<div class="node-modal modal fade" id="aaa" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><a href="{{node.link}}">{{ node.label }}</a></h4>
      </div>
      <div class="modal-body">
        <div class="modal-body--overview"></div>
        <ul class="modal-body--associations">
        {{#each associations}}
        <li>
          <span class="label label-default" style="background-color:{{color}}">{{label}}</span>
          {{#if toNode.link}}
             <a href="{{toNode.link}}">{{toNode.class_label}}</a>
          {{else}}
            {{toNode.class_id}}
          {{/if}}
        </li>
        {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->